@import "sections/header/styles.css";
@import "sections/hero/styles.css";
@import "sections/properties/styles.css";
@import "sections/header/styles.css";
@import "components/button/style.css";
@import "sections/widgets/styles.css";
@import "sections/agents/styles.css";
@import "sections/footer/styles.css";



<!-- When adding css imports they mess everything else up and they overlap>





* {
    box-sizing: border-box;
}

body {
    margin: 0;
}