* {
    box-sizing: border-box;
    
  }
  
  .content {
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  .item {
    width: calc(100% / 3);
    padding: 1rem;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* flex-start / flex-end / center */
  
    justify-content: flex-start;
    /* flex-start / flex-end / center / space-between / space-around */
  }
  
  @media (min-width: 800px) {
    .wrapper {
      flex-direction: row;
    }
    h1{
      color:rgb(4, 50, 78);
    }
  
  h4{
      color:rgb(4, 50, 78);
      text-decoration: itallics;
      
  }
    
    
  }
  p{
      color: rgb(4, 50, 78);
    
      
  }
  
  
  
  arhef{
      color:#3d6cb9;
      
  }
  
  body{
      font-family: system-ui;
      background-color: rgb(171, 178, 185);
    text-align: center;
  
      
  }
  
  title{
      font-family: cursive;
      font-style: oblique;
    
   
  
  }
  
  