.button {
    background: rgba(40, 27, 114, 0.8);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background: rgba(73, 50, 207, 0.8);
}

.button_importance-primary {
    background: rgba(252, 120, 80, 1);
    color: white;
}

.button_importance-primary:hover {
    background: rgba(252, 120, 80, 0.8);
    color: white;
}

.button_importance-tertiary {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.button_importance-tertiary:hover {
    background: rgba(0, 0, 0, 0.1);
}