.wrapper{
    max-height: 410px;
    border: 0
    px solid gray;
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 20;


}

.wrapper .item{
    min-width: 410px;
    height: 390px;
    line-height: 40px;
    
    text-align: center;
    
    background-color: #ddd;
    margin-right: 20px;
    border-radius: 20px;
  

}

.image {

width: 120px;
height: 120px;
border-radius: 100px

}



blockquote{
    color: gray; 
    font-style: oblique;
}
 
p2{
    color: rgb(4, 50, 78);
    font-style: oblique;
}


h1{
    color:rgb(4, 50, 78);
    
  }

h3{
    color:rgb(4, 50, 78);
    
    
}
  
  

p{
    color:rgb(4, 50, 78);
   
    
}



.arhef{
    color:#3d6cb9;
    
}

body {
    font-family: system-ui;
    background-color: rgb(171, 178, 185);
  text-align: center;
}
