.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    background: white;
    color: black;
  }
  .description {
    font-size: 15px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: white;
  }
  
  .header {
    background: white;
    padding: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .header__logo:hover {
    opacity: 0.8;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  
  @media (min-width: 600px) {
    .header__nav {
      flex-direction: row;
    }
  }
  
  .header__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 600px) {
    .header__list {
      flex-direction: row;
    }
  }
  
  .header__link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .header__link:hover {
    background: #ccc;
  }
  
  .header__button {
    background: #fc7850;
    padding: 1rem;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    padding: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .header__button:hover {
    opacity: 0.8;
  }


  .title__image {
    border-radius: 10%;
  }
